*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252a32;
  background: #ffffff;
}

.container {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main .card {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  /* padding-top: 70%; */
  background: #ffffff;
}
.main .card-image img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .main .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}



.main1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden; /* Hide any content overflow */
}

.main1 a {
  text-align: center; /* Center the link and image */
  display: block;
}

.main1 img {
  width: 100%;
  max-width: 80%; /* Adjust as needed */
  height: auto;
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
  border-radius: 5px; /* Rounded corners for the image */
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .main1 img {
    max-width: 90%; /* Adjust as needed for smaller screens */
  }
}



/* Your existing styles for the image gallery and Screen 1 */
/* ... */

/* New styles for Screen 2 */


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Background color for the header */
  height: 80px; /* Adjust the height as needed */
  padding: 0 20px; /* Add padding to the header */
}

.theme-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.theme-name img {
  width: 150px; /* Adjust the width of the theme image */
  height: auto;
  display: block; /* Ensure the image is centered */
  margin: 0 auto; /* Center the image */
}

.download-button {
  margin-left: auto; /* Push the download button to the right */
}

.download-button img {
  width: 30px; /* Adjust the width of the download icon */
  height: auto;
  cursor: pointer;
}

/* ... Your existing styles ... */


.month-names {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.month-names p {
  flex: 1;
  text-align: center;
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bolder;
}

/* Styles for JPEG download button */
.month-names a {
  text-decoration: none; /* Remove underline from link */
  color: #252a32; /* Set color for the link */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-names img {
  width: 30px; /* Adjust the width of the JPEG download button icon */
  height: auto;
  margin-top: 5px; /* Adjust spacing between text and icon */
  margin-right: 20px;
}


button {
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: #2980b9;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: #2980b9;
}

.main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: hidden;
  margin: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: -10px; /* Negative margin to reduce white space */
}

.container2 a {
  text-align: center;
  text-decoration: none;
  color: #252a32;
  width: calc(33.33% - 20px); /* Three items in a row with minimal space, adjust as needed */
  margin: 10px;
  box-sizing: border-box;
}

.container2 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.container2 p {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .container2 a {
    width: calc(33.33% - 20px); /* Two items in a row on tablets */
  }
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .container2 a {
    width: calc(33.33% - 20px);/* Single column on phones */
  }
}


.main button {
  padding: 12px 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.main button:hover {
  background-color: #2980b9; /* Darker color on hover */
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .main a {
    width: 100%; /* Make the button full width on small screens */
  }
}


.fancybox-button--download img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 5px; /* Add some right margin for spacing */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.modal-content img {
  width: 100%;
  max-width: 80vw; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.close {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.close:hover {
  background-color: #333;
}

.close::before, .close::after {
  content: '';
  width: 70%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}





.video-button img {
  width: 30px; /* Adjust as needed */
  cursor: pointer;
  margin-right: 20px;
}

.modal1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content1 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.modal-content1 video {
  width: 100%;
  height: auto;
  max-width: 80vw; /* Adjust as needed */
  max-height: 80vh; /* Adjust as needed */
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.close1 {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.close1:hover {
  background-color: #333;
}

.close1::before,
.close1::after {
  content: '';
  width: 70%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}

.close1::after {
  transform: rotate(-45deg);
}
